menu "Project-Specific Configuration"

source "projects/adxrs290-pmdz/Kconfig"
source "projects/apard32690/Kconfig"
source "projects/eval-adis1646x/Kconfig"
source "projects/eval-adis1647x/Kconfig"
source "projects/eval-adxl355-pmdz/Kconfig"
source "projects/iio_demo/Kconfig"
source "projects/swiot1l/Kconfig"

endmenu
