menu "Project-Specific Configuration"

source "projects/apard32690/Kconfig"
source "projects/adxrs290-pmdz/Kconfig"
source "projects/eval-adis1647x/Kconfig"
source "projects/eval-adis1650x/Kconfig"
source "projects/eval-adis1654x/Kconfig"
source "projects/eval-adis1655x/Kconfig"
source "projects/eval-adis1657x/Kconfig"
source "projects/eval-adxl355-pmdz/Kconfig"
source "projects/eval-adis1646x/Kconfig"
source "projects/iio_demo/Kconfig"
source "projects/ltm3360b/Kconfig"
source "projects/swiot1l/Kconfig"
source "projects/ad4692_ardz/Kconfig"
source "projects/adf4371/Kconfig"
source "projects/ad74416h/Kconfig"
source "projects/adf4382/Kconfig"
source "projects/ad7616-st/Kconfig"

endmenu
