menu "Project-Specific Configuration"

source "projects/apard32690/Kconfig"
source "projects/cn0565/Kconfig"
source "projects/adxrs290-pmdz/Kconfig"
source "projects/eval-adis1647x/Kconfig"
source "projects/eval-adis1650x/Kconfig"
source "projects/eval-adis1654x/Kconfig"
source "projects/eval-adis1655x/Kconfig"
source "projects/eval-adis1657x/Kconfig"
source "projects/eval-adxl313z/Kconfig"
source "projects/eval-adxl38x/Kconfig"
source "projects/eval-adxl355-pmdz/Kconfig"
source "projects/eval-cn0391-ardz/Kconfig"
source "projects/eval-adis1646x/Kconfig"
source "projects/iio_demo/Kconfig"
source "projects/ltm3360b/Kconfig"
source "projects/max14906/Kconfig"
source "projects/max22007/Kconfig"
source "projects/max22915/Kconfig"
source "projects/swiot1l/Kconfig"
source "projects/ad405x/Kconfig"
source "projects/ad463x_fmcz/Kconfig"
source "projects/ad4692_ardz/Kconfig"
source "projects/adf4371/Kconfig"
source "projects/ad74413r/Kconfig"
source "projects/ad74416h/Kconfig"
source "projects/adin1320/Kconfig"
source "projects/adf4382/Kconfig"
source "projects/ad7616-st/Kconfig"
source "projects/pulsar-adc/Kconfig"
source "projects/ad738x_fmcz/Kconfig"
source "projects/admt4000/Kconfig"
source "projects/ade7816/Kconfig"
source "projects/dc2903a/Kconfig"
source "projects/eval-ade7754/Kconfig"
source "projects/adalm-mmsc/Kconfig"
source "projects/aducm_blinky_example/Kconfig"
source "projects/aducm3029_flash_demo/Kconfig"
source "projects/ada4250_ardz/Kconfig"
source "projects/cn0531/Kconfig"
source "projects/iio_adpd1080/Kconfig"
source "projects/eval-ltc4306/Kconfig"

source "projects/ad7091r8-sdz/Kconfig"
source "projects/adalm-lsmspg/Kconfig"
source "projects/ades1754/Kconfig"
source "projects/adin1110/Kconfig"
source "projects/adp1050/Kconfig"
source "projects/adp1055/Kconfig"
source "projects/adp5055/Kconfig"
source "projects/adt75/Kconfig"
source "projects/apardpfwd/Kconfig"
source "projects/dc2703a/Kconfig"
source "projects/eval-ad7490sdz/Kconfig"
source "projects/eval-ad8460/Kconfig"
source "projects/eval-ade7753/Kconfig"
source "projects/eval-ade7758/Kconfig"
source "projects/eval-ade7880/Kconfig"
source "projects/eval-ade7913/Kconfig"
source "projects/eval-ade7953/Kconfig"
source "projects/eval-ade7978/Kconfig"
source "projects/eval-ade9000/Kconfig"
source "projects/eval-ade9078/Kconfig"
source "projects/eval-ade9153a/Kconfig"
source "projects/eval-adg1712/Kconfig"
source "projects/eval-adg1736/Kconfig"
source "projects/eval-adg2404/Kconfig"
source "projects/eval-adgm3121/Kconfig"
source "projects/eval-adgs6414d/Kconfig"
source "projects/eval-adhv4710/Kconfig"
source "projects/eval-adl8113/Kconfig"
source "projects/eval-ublox-gnss/Kconfig"
source "projects/lt3074/Kconfig"
source "projects/lt7170/Kconfig"
source "projects/lt7182s/Kconfig"
source "projects/lt8722/Kconfig"
source "projects/ltc2378/Kconfig"
source "projects/ltc2983/Kconfig"
source "projects/ltc3208/Kconfig"
source "projects/ltc3220/Kconfig"
source "projects/ltc3337/Kconfig"
source "projects/ltc4162l/Kconfig"
source "projects/ltc4296/Kconfig"
source "projects/ltc7841/Kconfig"
source "projects/ltc7871/Kconfig"
source "projects/ltm4686/Kconfig"
source "projects/ltp8800/Kconfig"
source "projects/max11205pmb1/Kconfig"
source "projects/max14914/Kconfig"
source "projects/max14919/Kconfig"
source "projects/max17616/Kconfig"
source "projects/max22017/Kconfig"
source "projects/max22190/Kconfig"
source "projects/max22196/Kconfig"
source "projects/max22200/Kconfig"
source "projects/max25603/Kconfig"
source "projects/max31855/Kconfig"
source "projects/max42500/Kconfig"
source "projects/adt7420-pmdz/Kconfig"
source "projects/demo_esp/Kconfig"
source "projects/eval-ltc4306/Kconfig"
source "projects/max14916/Kconfig"
source "projects/max31827-evkit/Kconfig"
source "projects/ad-acevsecrdset-sl/Kconfig"
source "projects/iio_demo_freeRTOS/Kconfig"
source "projects/ssd1306/Kconfig"
source "projects/wethlink/Kconfig"
source "projects/eval-ade9430/Kconfig"
source "projects/eval-pqmon/Kconfig"
endmenu
