menu "MAX22915 Configuration"

choice MAX22915_EXAMPLE
	prompt "Example variant"
	default MAX22915_BASIC_EXAMPLE

config MAX22915_BASIC_EXAMPLE
	bool "Basic example"
	help
	  Basic example for MAX22915 with diagnostics.

endchoice

endmenu
