menu "FTC Workshop BLE Configuration"

config BLE_ADV_NAME
	string "BLE Advertising Device Name"
	default "$(BLE_ADV_NAME)" if "$(BLE_ADV_NAME)" != ""
	default "FTC_Workshop"
	help
	  Set the BLE advertising device name. Can be overridden by setting
	  the BLE_ADV_NAME environment variable.

config USE_USB_UART
	bool
	default y if UART_TYPE_USB
	default n

choice PROJECT_VERSION

	prompt "Project version"
	default EXERCISE_1
	help
	  Select which project version to compile.

config EXERCISE_1
	bool "Enable exercise 1"
	help
		Enable exercise 1.

config EXERCISE_2
	bool "Enable exercise 2"
	help
		Enable exercise 2.

config EXERCISE_3
	bool "Enable exercise 3"
	help
		Enable exercise 3.

config EXERCISE_4
	bool "Enable exercise 4"
	help
		Enable exercise 4.

config EXERCISE_5
	bool "Enable exercise 5"
	help
		Enable exercise 5.

endchoice

endmenu