/dts-v1/;

/include/ "zynq-zed.dtsi"

/ {
	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		i2c@41600000 {
			compatible = "xlnx,axi-iic-1.01.b", "xlnx,xps-iic-2.00.a";
			interrupt-parent = <&gic>;
			interrupts = <0 58 0x4>;
			reg = <0x41600000 0x10000>;

			#size-cells = <0>;
			#address-cells = <1>;

			adv7511: adv7511@39 {
				compatible = "adi,adv7511";
				reg = <0x39>;

				adi,input-style = <0x02>;
				adi,input-id = <0x01>;
				adi,input-color-depth = <0x3>;
				adi,sync-pulse = <0x03>;
				adi,bit-justification = <0x01>;
				adi,up-conversion = <0x00>;
				adi,timing-generation-sequence = <0x00>;
				adi,vsync-polarity = <0x02>;
				adi,hsync-polarity = <0x02>;
				adi,tdms-clock-inversion;
				adi,clock-delay = <0x03>;
			};
		};

		axi_vdma_0: axivdma@43000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			compatible = "xlnx,axi-vdma";
			reg = <0x43000000 0x1000>;
			xlnx,include-sg = <0x0>;
			xlnx,num-fstores = <0x3>;
			dma-channel@7e200000 {
				compatible = "xlnx,axi-vdma-mm2s-channel";
				interrupts = <0 59 0x4>;
				xlnx,datawidth = <0x40>;
				xlnx,genlock-mode = <0x0>;
				xlnx,include-dre = <0x0>;
			};
		};

		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-1.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 17>;
		};

		axi_hdmi@70e00000 {
			compatible = "adi,axi-hdmi-1.00.a";
			reg = <0x70e00000 0x10000>;
			encoder-slave = <&adv7511>;
			dmas = <&axi_vdma_0 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;
		};

		audio_clock: audio_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
		};

		axi_spdif_tx_0: axi-spdif-tx@0x75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&ps7_dma 0>;
			dma-names = "tx";
			clocks = <&clkc 15 &audio_clock>;
			clock-names = "axi", "spdif";
		};

		adv7511_hdmi_snd: adv7511_hdmi_snd {
			compatible = "adv7511-hdmi-snd";
			audio-codec = <&adv7511>;
			cpu-dai = <&axi_spdif_tx_0>;
		};

		adc_vref: fixedregulator@0 {
			compatible = "regulator-fixed";
			regulator-name = "fixed-supply";
			regulator-min-microvolt = <30000000>;
			regulator-max-microvolt = <30000000>;
			regulator-boot-on;
		};
		
		adc_vref2: fixedregulator@10 {
			compatible = "regulator-fixed";
			regulator-name = "fixed-supply";
			regulator-min-microvolt = <0000001>;
			regulator-max-microvolt = <0000001>;
			regulator-boot-on;
		};		

		ps7_spi_1: ps7-spi@e0007000 {
			bus-num = <2>;
			compatible = "xlnx,ps7-spi-1.00.a";
			interrupt-parent = <&gic>;
			interrupts = < 0 49 4 >;
			clock-names = "ref_clk", "aper_clk";
			clocks = <&clkc 26>, <&clkc 35>;
			num-chip-select = <4>;
			reg = < 0xe0007000 0x1000 >;
			speed-hz = <100000000>;
			xlnx,has-ss0 = <0x1>;
			xlnx,has-ss1 = <0x1>;
			xlnx,has-ss2 = <0x1>;
			xlnx,spi-clk-freq-hz = <100000000>; 
			#address-cells = <1>;
			#size-cells = <0>;
			ad5781@0 { 
				compatible = "adi,ad5781";
				reg = <0>; 
				spi-max-frequency = <1000000>;
				vdd-supply = <&adc_vref>;
				vss-supply = <&adc_vref2>; 
			};
		};

		trigger: trigger@0 {
			compatible = "iio-trigger-hrtimer";
		};
	};
};
