.metadata
SDK.log
bsp
hw
sw
xilsw
sw.elf
xsct.log
RemoteSystemsTempFiles
build
projects/*/build_*
dfp_drivers
aducm_project
aducm_build
.vscode

*.a
*.o
*.d
*.hex
*.hdf
*.xsa
*.sof
*.sopcinfo

local_variables.mk
