.metadata
SDK.log
bsp
hw
sw
xilsw
sw.elf
xsct.log
RemoteSystemsTempFiles
build
BUILD
builds
exports
logs
log.txt
mbed-app-json
.mbed
projects/*/build_*
dfp_drivers
aducm_project
aducm_build
.vscode
.Xil
.github/CODEOWNERS
.github/PULL_REQUEST_TEMPLATE.md

*.a
*.o
*.d
*.hex
*.hdf
*.xsa
*.sof
*.sopcinfo

local_variables.mk
*generated*
