[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "libraries/mqtt/paho.mqtt.embedded-c"]
	path = libraries/mqtt/paho.mqtt.embedded-c
	url = https://github.com/eclipse/paho.mqtt.embedded-c
[submodule "libraries/azure-sdk-for-c"]
	path = libraries/azure/azure-sdk-for-c
	url = https://github.com/Azure/azure-sdk-for-c.git
[submodule "libraries/mbed/mbed-os"]
	path = libraries/mbed/mbed-os
	url = https://github.com/ARMmbed/mbed-os
[submodule "libraries/lwip/lwip"]
	path = libraries/lwip/lwip
	url = https://github.com/lwip-tcpip/lwip
