language: c

sudo: required

dist: bionic

os: linux

env:
  global:
    secure: "e2aIzAsFnISWA+43i6tF/hS3l6k4eI/k7/5ZBzrpcPxT2R/PqVL1AcDndBQFLFVAX9lACnMBIEhK8jxvK2VGNwACp/gLG4RNyB5oE+HQqcUY1ntdjVmAAVzDKzG23mPlXIQzGFeZ861BuiO4GSqEBsd2c0Nm7jXf2rSuHizkId8="
  matrix:
    - BUILD_TYPE=astyle
    - BUILD_TYPE=cppcheck
    - BUILD_TYPE=drivers
    - BUILD_TYPE=doxygen

script:
  - ./ci/travis/run_build.sh
