config SPI
    select DMA
    bool "Enable SPI"
    default n

config I2C
    bool "Enable I2C"
    default n

config UART
    bool "Enable UART"
    default n

config GPIO
    bool "Enable GPIO"
    default n

config IRQ
    bool "Enable IRQ"
    default n

config DMA
    bool "Enable DMA"
    default n

source "iio/Kconfig"
source "drivers/Kconfig"
source "libraries/Kconfig"