menuconfig NET
    bool "Networking Drivers"
    default n
    help
      Enable support for networking drivers.

if NET

config ADIN1110
    depends on SPI
    bool "Enable the ADIN1110 driver"
    default n

endif