CONFIG_PLATFORM_DRIVERS=y
CONFIG_WIN=y

# FTD2XX library (LibMPSSE) — SPI, I2C, GPIO, UART via USB2PMB2 FTDI adapter
CONFIG_FTD2XX=y
CONFIG_SPI_FTD2XX=y
CONFIG_I2C_FTD2XX=y
CONFIG_GPIO_FTD2XX=y
CONFIG_UART_FTD2XX=y
