config SPI_MAXIM
        depends on SPI
        bool "Enable Maxim SPI driver"
        default y

config I2C_MAXIM
        depends on I2C
        bool "Enable Maxim I2C driver"
        default y

config UART_MAXIM
        depends on UART
        bool "Enable Maxim UART driver"
        default y

config UART_STDIO_MAXIM
        bool "Enable Maxim UART STDIO driver"
        default y

config IRQ_MAXIM
        depends on IRQ
        bool "Enable Maxim interrupt controller driver"
        default y