source "drivers/accel/Kconfig"
source "drivers/adc/Kconfig"
source "drivers/adc-dac/Kconfig"
source "drivers/dac/Kconfig"
source "drivers/imu/Kconfig"
source "drivers/afe/Kconfig"
source "drivers/net/Kconfig"
source "drivers/platform/Kconfig"