CONFIG_PLATFORM_DRIVERS=y
CONFIG_MAXIM=y

CONFIG_CAPI=y
CONFIG_CAPI_TIME=y
CONFIG_CAPI_ALLOC=y
CONFIG_CAPI_UART=y
CONFIG_CAPI_GPIO=y
CONFIG_CAPI_DMA=y
CONFIG_CAPI_TIMER=y
CONFIG_CAPI_SPI=y
CONFIG_CAPI_I2C=y
CONFIG_CAPI_IRQ=y
CONFIG_CAPI_WDT=y
# CONFIG_CAPI_RTC=y
# CONFIG_CAPI_TRNG=y
