CONFIG_PLATFORM_DRIVERS=y
CONFIG_MAXIM=y

CONFIG_UART_MAXIM=y
CONFIG_UART_STDIO_MAXIM=y
CONFIG_SPI_MAXIM=y
CONFIG_I2C_MAXIM=y
CONFIG_IRQ_MAXIM=y
CONFIG_GPIO_MAXIM=y
CONFIG_GPIO_IRQ_MAXIM=y
CONFIG_TIMER_MAXIM=y
CONFIG_DMA_MAXIM=y
CONFIG_PWM_MAXIM=y
CONFIG_RTC_MAXIM=y
CONFIG_TRNG_MAXIM=y
