menuconfig TEMPERATURE
    bool "Temperature Drivers"
    default n
    help
      Enable support for temperature sensor drivers.

if TEMPERATURE

config TEMPERATURE_ADT75
    depends on I2C
    bool "Enable ADT75 driver"
    default n

config TEMPERATURE_IIO_ADT75
    select TEMPERATURE_ADT75
    bool "Enable ADT75 IIO driver"
    default n

endif
